@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');


label{
    display: block;
    margin-bottom: 0px;
    font-family: montserrat;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: poppins;
}

button{
    width: 50%;
    padding: 10px;
    border: none;
    margin-left: 19%;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-family: poppins;
    font-size: medium;
}

button:hover{
    background-color: #4CAF50;
    color: black;
    font-family: poppins;
    font-size: medium;
}

#postAdForm{
    width: 25%;
    margin: auto;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
