@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap");

label {
    display: block;
    margin-bottom: 2%;
    font-family: montserrat;
    color: #fff;
}

body {
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #CB356B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #29B6F6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8BC34A, #29B6F6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8BC34A, #29B6F6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border-color: #fff;
    font-family: poppins;
}

#postAdBtn {
    width: 50%;
    padding: 10px;
    border: none;
    margin-left: 22%;
    border-radius: 5px;
    background-color: #F4511E;
    color: white;
    cursor: pointer;
    font-family: poppins;
    font-size: medium;
    transition: transform .2s;
}

#postAdBtn:hover {
    background-color: #DD2C00;
    transform: scale(1.1);
    font-family: poppins;
    font-size: medium;
}

#postAdForm {
    width: 35%;
    margin: auto;
    padding: 2% 3%;
    padding-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: black;
    border-radius: 20px;
}